<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Email Verification</title>
</head>

<body style="margin: 0; padding: 10px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #f3f2ef; color: #000000; text-align: left;">

<div style="width: 100%; max-width: 700px; margin: 20px auto; background-color: #ffffff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="padding: 16px; background-color: #0073b1; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <img src="http://newfeedrecatclone.s3-website-us-east-1.amazonaws.com/images/newfeed.jpeg" alt="Logo" style="max-height: 38px; display: block; margin: 0 auto;">
    </div>

    <div style="padding: 20px;">
        <h1 style="font-size: 22px; font-family: 'serif'; margin-bottom: 10px;">Thank you for signing up</h1>
        <p>Enter this code or click the button below to confirm your email.</p>
        <h2 style="font-size: 18px; margin-bottom: 20px;">confirmationCode</h2>
        <p style="margin: 1px; font-weight: 400; color: #000000; font-size: 14px; text-align: center; margin-top: 10px;">userName</p>
        <a href="url" style="display: inline-block; padding: 10px 20px; background-color: #0073b1; border-radius: 5px; color: #ffffff; text-decoration: none; font-weight: 500; font-size: 16px;">Confirm your email</a>
    </div>
</div>

</body>
</html>
